<div class="row" id="breadcrumbs">
    <div class="col-md-8">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            <?php $crumb_path = ''?>
            <?php foreach(array_slice(explode('/',$path_chunk),1) as $crumb):?>
                <?php $crumb_path .= "/$crumb"; ?>
                <?php if($crumb_path == $path_chunk):?>
                    <li class="active"><?=$crumb?></li>
                <?php else:?>
                    <li><a href="?path=<?=$crumb_path?>"><?=$crumb?></a></li>
                <?php endif;?>
            <?php endforeach;?>
        </ol>
    </div>
    <div class="col-md-4">
        <div id="toolbar" class="btn-group pull-right" style="padding-bottom: 5px;">
            <button id="fullscreen-button" type="button" class="btn btn-default" aria-label="Full Screen" title="Full Screen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </button>
            <a href="/load.php?path=<?=$path_chunk?>&download=true" class="btn btn-default" role="button" aria-label="Download" title="Download">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            </a>
            <!--
            <button type="button" class="btn btn-default" aria-label="Zoom Out" title="Zoom Out">
                <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Reset Zoom" title="Reset Zoom">
                <span id="zoom-level">100%</span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Zoom In" title="Zoom In">
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
            </button>
            -->
            <a href="?path=<?=$prev?>" class="btn btn-default" role="button" aria-label="Previous" title="Previous">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
            <a href="?path=<?=$next?>" class="btn btn-default" role="button" aria-label="Next" title="Next">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div id="mediaframe" class="row col-md-12" style="text-align:center">
<?php switch(strtolower(pathinfo($path, PATHINFO_EXTENSION))):?>
<?php case 'jpg': ?>
<?php case 'jpeg': ?>
<?php case 'png': ?>
    <img src="/load.php?path=<?=$path_chunk?>"/>
<?php break;?>
<?php case 'mp4': ?>
    <video controls>
        <source src="/load.php?path=<?=$path_chunk?>" type="video/mp4">
        Your browser does not support the video tag.
    </video>
<?php break;?>
<?php endswitch; ?>
</div>

<script>
$(function(){
    // TODO: Make zoom buttons work:
    //https://css-tricks.com/almanac/properties/t/transform/

    // TODO: Make fullscreen work
    // https://github.com/kayahr/jquery-fullscreen-plugin
    $("#fullscreen-button").click(function(){
        $("#mediaframe").toggleFullScreen();
    });
});
</script>
