<style>
.videoInsert {
    width: 100%;
    height: auto;
}
</style>

<div class="row" id="breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <?php $crumb_path = ''?>
        <?php foreach(array_slice(explode('/',$path_chunk),1) as $crumb):?>
            <?php $crumb_path .= "/$crumb"; ?>
            <?php if($crumb_path == $path_chunk):?>
                <li class="active"><?=$crumb?></li>
            <?php else:?>
                <li><a href="?path=<?=$crumb_path?>"><?=$crumb?></a></li>
            <?php endif;?>
        <?php endforeach;?>
    </ol>
</div>

<!--<div class="row">-->
<div class="grid">
    <?php foreach($files as $f):?>
        <!--<div class="col-xs-6 col-md-3">-->
        <div class="grid-item">
            <a href="?path=<?=$f?>" class="thumbnail">
<?php switch(strtolower(pathinfo($f, PATHINFO_EXTENSION))):?>
<?php case 'jpg': ?>
<?php case 'jpeg': ?>
<?php case 'png': ?>
<?php case 'mp4': ?>
<?php case '': ?>
                <img src="/load.php?path=<?=$f?>&thumb=true" alt="<?=$f?>">
<?php break;?>
<?php endswitch; ?>

                <br/>
                <?=$f?>
            </a>
        </div>
    <?php endforeach;?>
</div>

<script>
var $grid = $('.grid').masonry({
  itemSelector: '.grid-item',
  fitWidth:true,
  columnWidth: 152,
  gutter: 10
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress( function() {
  $grid.masonry('layout');
});
</script>
