
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><?= $path_chunk->isBlank() ? 'Home' : $path_chunk?> - Adams Family Photos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/sharingbuttons.css">
    <style>
        video,img {
            max-width: 100%;
        }

        #sharebar {
            width: 1px;
            position: fixed;
            top: 20%;
        }

        .resp-sharing-button__link {
            margin-bottom: 2px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/jquery.fullscreen-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="//unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Adams Family Photos</a>
        </div>
        <!--<div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="mymenu">Menu <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="mymenu">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="#">Menu Option</a></li>
                <li><a href="#">Menu Option</a></li>
                <li><a href="#">Menu Option</a></li>
                <li><a href="#">Menu Option</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Link</a>
            </li>
            <li>
              <a href="#">Link</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
            <li><a href="#">Link</a></li>
          </ul>

      </div>-->
    </div>
    </div>

    <div class="container" style="padding-top:60px">
